<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>configuracao</title>   
    <link rel='stylesheet' type='text/css' href='/stylesheets/atom-nrstyle.css' />
  </head>
  <body class='container'>
    <h1><%= @titulo %></h1>
    <%= yield %>
  </body>
</html>