<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
  </head>
  <body class='container'>
    <form action='resultados' method='get'>
      <h2>Lista de Siglas</h2>
      <textarea id='siglas' name="siglas" type='text' rows='14' cols='150' placeholder='SIGLAS: Definição'></textarea>

    
      <h2>Lista de Símbolos</h2>
      <textarea name="simbolos" type='text' rows='14' cols='150' placeholder='SIMBOLOS: Definição'></textarea>
      <button type='submit'>Enviar</button>

    </form>
    <p></p>
    <p><a href='/resultados'>Fechar formulário!</a></p>
  </body>

</html>
