<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
  </head>
  <body class='container'>
    <form action='simbolos' method='post'>
      <h2>Lista de Siglas</h2>
      <textarea id='siglas' name="siglas" type='text' rows='15' cols='150' placeholder='SIGLAS: Definição'></textarea>
      <button type='submit'>Enviar</button>
    </form>
    <p><a href='/simbolos'>Lista de Símbolos</a></p>
    <p><a href='/resultados'>Veja os resultados!</a></p>
  </body>

</html>
