<!DOCTYPE html>
<html>

  <body class='container'>
    <form action='resultados' method='post'>
      <h2>Lista de Símbolos</h2>
      <textarea name="simbolos" type='text' rows='15' cols='150' placeholder='SIMBOLOS: Definição'></textarea>
      <button type='submit'>Enviar</button>
    </form>
    <p><a href='/resultados'>Veja os resultados!</a></p>
  </body>

</html>